# Project specific excludes
#
tomcat
#
# Default excludes
#
# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
#.settings/
#.classpath
#.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
/Homework 3/nbproject/private/
/Homework 4/Baseball/nbproject/private/
/Homework 4/covid_plotter/nbproject/private/
/Homework 6/PumpKingMakerWills/nbproject/private/
/Homework 7/Vegas Baby/nbproject/private/
/Final/OOP Quiz Tool/nbproject/private/